<!-- el container maneja los margenes responsive -->
<div class="container content">
    <!-- con row defino una fila con 12 columnas como maximo -->
    <div class="row">
        <!-- dentro de esa fila, habra como maximo 6 columnas -->
        <div class="col-md-6">
            Hola
        </div>
        <div class="col-md-6">
            Mundo
        </div>
    </div>
</div>
