<form action="">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        placeholder="Ingrese nombre..."
        #nombre
      />
    </div>
    <div class="form-group">
      <label for="Imagen URL">Foto</label>
      <input
        type="text"
        class="form-control"
        id="imgUrl"
        placeholder="Ingrese url de la imagen"
        #url
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      (click)="guardar(nombre.value, url.value)"
    >
      Guardar
    </button>
  </form>